.Contact{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.ContactError{
    color: red;
}

.Contact>h1{
    font-size: 18px;
    font-family: "IBM Plex Serif", serif;
}
.Contact>h1>span:nth-child(1){
    color: #34a853;
    cursor: pointer;
}
.Contact>h1>span:nth-child(1):hover{
    color: #0072c6;
}
.Contact>h1>span:nth-child(2){
    color: #857D79;
}
.Contact>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
}
.Contact>div>img{
    max-width: 30rem;
    width: 100%;
    height: auto;
    border-radius: 6px;
    padding: 1px;
    margin-bottom: 1rem;
}
.Contact>div>form>div>input{
    width: 32rem;
    height: 2.4rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #34a853;
    padding: 0.4rem 1rem;
    font-weight: 500;
    font-size: 13px;
}
.Contact>div>form>div>textarea{
    width: 32rem;
    border: 1px solid #34a853;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    font-weight: 500;
    font-size: 17px;
    outline: none;
}
.Contact>div>form>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.Contact>div>form>div>label{
color:#0072c6 ;
font-weight: 500;
font-size: 14.5px;
margin-bottom: 0.1rem;
font-family: "IBM Plex Serif", serif;
}
.ContactUsMessageSent{
    text-align: center;
    margin-top: 1rem;
    font-weight: 550;
    font-size: 16px;
    color:#34a853 ;
    margin-bottom: 1rem;
}
.ContactRecaptchaAndSubmitBtn{
display: flex;
gap: 2rem;
margin-top: 2rem;
}
.ContactRecaptchaAndSubmitBtn>button{
   margin-bottom: 1.5rem;
   font-family: "IBM Plex Serif", serif;
}


.ContactFormSubmitBtnSuccessful{
    width: 8rem;
    padding: 0.5rem 1rem;
    font-weight: 550;
    font-size: 14px;
    background-color: #34a853;
    color: white;
    border-radius: 5px;
    border: none;
}


@media only screen  and (max-width:1100px){
    .Contact>div{
        flex-wrap: wrap;
    }
    .Contact>div>img{
        margin-bottom: 0rem;
    }
}
@media only screen and (max-width:530px){
    .Contact>div>form>div>input{
        width: 20rem;
        height: 2.2rem;
        margin-bottom: 0.5rem;
    }
    .Contact>div>form>div>textarea{
        width: 20rem;
    }
    .ContactRecaptchaAndSubmitBtn{
        flex-direction: column;
        gap: 0rem;
    }
    .ContactRecaptchaAndSubmitBtn>button{
        margin-bottom: 0rem;
     }
     .ContactRecaptchaAndSubmitBtn>button{
        margin-bottom: 0rem;
     }
        .ContactFormSubmitBtn{
            margin-top: 1rem;
        }
        .ContactRecaptchaAndSubmitBtn>button{
            margin-bottom: 0rem;
         }
         
}